@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Edu+VIC+WA+NT+Hand&display=swap');


:root {
    --bg: #F7F5F2;
    --tx: #2B2B2B;
    --accent: #A7B8C9;

    --radius: 12px;

}


body {
    background-color: var(--bg);
    color: var(--tx);


    font-family: "Comfortaa", sans-serif;



    display: flex;
    flex-direction: column;

    height: 98vh;


}


header {
    display: flex;

    justify-content: space-between;

    background-color: var(--accent);


    border-radius: var(--radius);


    align-items: center;

    padding: 0 2% 0 2%;
}


.control_header {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 15%;

}


.log_out {
    transition: 1.5s;


    &:hover {
        background-color: var(--accent);
        color: var(--tx);
    }
}




main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2%;


    margin: 2%;



}


.card {
    border: 2px solid var(--accent);
    border-radius: var(--radius);


    padding: 3%;

    font-family: monospace;
}


.card__id {
    font-family: monospace, bold;
}



.login_block {
    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: center;


    height: 100%;









}


form {
    display: flex;
    flex-direction: column;



    gap: 3%;
    width: 20%;
    height: 30%;

}




footer {
    display: flex;

    justify-content: space-between;


    background-color: var(--accent);
    margin-top: auto;

    border-radius: var(--radius);

    padding: 0 1% 0 1%;


}


@media (max-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}