:root {
    --bg: #121318;
    --bg_two: #1b1d24;

    --tx: #e6e8ee;
    --mute_tx: #8b91a0;

    --radius: 8px;
}






body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);


    margin: 0;
    padding: 0;


    min-height: 100vh;


    font-family: monospace;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg_two);
    color: var(--tx);

    padding: 1%;
    padding-right: 4%;


}


.control_header {
    display: flex;
    gap: 20%;
}


.control_header a {
    color: var(--tx);
    font-size: 110%;

}



main {
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;
    flex: 1;
    
    padding: 2%;



}


.cards {

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 20px;


}


.card {
    padding: 3%;

    color: var(--tx);
    background-color: var(--bg_two);
    border: 2px solid var(--tx);
    border-radius: var(--radius);


}


.login_block {
    display: flex;
    flex-direction: column;


    justify-content: center;
    align-items: center;


    flex: 1;
}


.login_in_form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--tx);
}


.broadcast_block {

    width: 100%;
    height: 100%;

    gap: 10px;

    flex: 1;

}



.broadcast_form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--tx);

}



input, button {
    padding: 3%;
}


button {
    border-radius: 2px;


    border: 1px solid gray;
}


.control_card_btn {
    text-decoration: none;
    color: var(--tx);

    border-radius: var(--radius);
    padding: 1%;

    background-color: var(--bg);


    transition: 0.5s;
    cursor: pointer;
}

input:focus {
    outline: none;
}




footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;

    color: var(--tx);
    background-color: var(--bg_two);
    padding: 1%;

}



@media (max-width: 768px) {
    form {
        width: 90%;
    }

    input, button {
        padding: 2%;
    }



}